.auth {
	&_interactives {
		// background: lightblue;
		width: 45%;
		flex-shrink: 0;
		padding: 50px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&_logo {
		width: 180px;
		height: 90px;
		margin-bottom: 50px;

		&-img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&_languages {
		display: flex;
		margin-bottom: 50px;
		gap: 15px;
		align-items: center;
		justify-content: center;
	}

	&_language {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		transition: all 0.3s;
		color: $mainblue;
		opacity: 0.4;
		padding: 5px;
		cursor: pointer;

		&.current,
		&:hover {
			opacity: 1;
		}
	}

	&_bgimage {
		width: 450px;
		height: 500px;

		&-img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: all 0.3s;
			animation: breathing 6s infinite ease-in-out;
		}
	}

	&_credentials {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translateX(-50%);
		text-align: center;

		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: $mainblack;
		opacity: 0.5;
	}
}
