.services {
	padding: 30px 0;
	overflow: visible;

	&__titling {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;

		&-title {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 120%;
			color: #18181c;
		}
	}

	&__btn {
		border-radius: 8px;
		background: rgba(28, 79, 209, 0.1);
		min-width: 190px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		outline: none;
		cursor: pointer;
		padding: 5px 20px;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: $mainblue;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	&__card {
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		padding: 20px;
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		min-height: 100px;
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
		}

		&-title {
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 120%;
			color: $mainblack;
			margin-bottom: auto;
			position: relative;

			span {
				position: absolute;
				left: 105%;
				top: 50%;
				transform: translateY(-50%);
				width: 20px;
				height: 20px;
				object-fit: contain;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				background: $mainblue;
				color: #ffffff;
				font-size: 12px;
			}
		}

		&-desc {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			color: #858da3;
		}

		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			transition: all 0.3s;
			right: 30px;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__categories {
		position: relative;

		&-context {
			position: absolute;
			top: calc(100% + 10px);
			right: 0;
			z-index: 2;
			background: #ffffff;
			border-radius: 10px;
			padding: 30px;
			-webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.15);
			width: 450px;
			transition: all 0.3s;
			visibility: hidden;
			opacity: 0;

			&.opened {
				opacity: 1;
				visibility: visible;
			}
		}

		&-title {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 120%;
			color: #18181c;
			margin-bottom: 30px;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 60px;
			border-bottom: 1px solid rgba(183, 186, 202, 0.3);
		}

		&-input {
			position: absolute;
			opacity: 0;
			visibility: hidden;
		}

		&-input:checked + & {
			&-label {
				span {
					border: 1px solid $mainblue;
					background: url("/assets/images/icon-check.svg") no-repeat center center $mainblue;
				}
			}
		}

		&-label {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			user-select: none;
			cursor: pointer;
			justify-content: space-between;

			&txt {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				color: #2b2d30;
			}

			&check {
				width: 20px;
				height: 20px;
				border: 1px solid rgba(133, 141, 163, 0.4);
				background-position: center center;
				border-radius: 2px;
				transition: all 0.3s;
			}
		}

		&-list {
			margin-bottom: 30px;
		}

		&-action {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-btn {
			min-width: 140px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 130%;
			outline: none;
			border: 1px solid $mainblue;
			color: #ffffff;
			cursor: pointer;
			background: #1c4fd1;
			border-radius: 8px;
			transition: all 0.3s;

			&:hover {
				background: transparent;
				color: $mainblue;
			}

			&.grey {
				border: 1px solid rgba(133, 141, 163, 0.1);
				background: rgba(133, 141, 163, 0.1);
				color: $mainblack;

				&:hover {
					color: #fff;
					background: $mainblue;
					border: 1px solid $mainblue;
				}
			}
		}
	}
}

.case {
	padding: 30px 0;

	&__body {
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}

	&__context {
		flex-grow: 1;
	}

	&__card {
		margin-bottom: 20px;
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		min-height: 200px;
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		transition: all 0.3s;
		cursor: pointer;

		&.user{
			min-height: 150px;
		}

		&-cap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 30px;

			&.user{
				margin-bottom: 10px;
			}
		}

		&-img {
			width: 35px;
			height: 35px;
			display: flex;
			border-radius: 100%;
			overflow: hidden;
			margin-right: 15px;
		}

		&-title {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 120%;
			margin-right: auto;
			color: #18181c;
		}

		&-heart {
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.3s;
			position: relative;

			&.checked {
				svg path {
					fill: $mainblue;
					stroke: $mainblue;
				}
			}

			&:hover {
				svg path {
					fill: $mainred;
					stroke: $mainred;
				}
			}

			svg {
				position: absolute;
				z-index: 1;
				transition: all 0.3s;
				top: 0;
				left: 0;
				display: flex;
				width: 100%;
				height: 100%;
				object-fit: contain;

				path {
					transition: all 0.3s;
					fill: transparent;
					stroke: $maingrey;
					stroke-width: 1px;
				}
			}
		}

		&-body {
			margin-bottom: 20px;
			width: 100%;

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: $maingrey;

				@include limitLine(6);
			}
		}

		&-credentials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			width: 100%;
		}

		&-credential {
			display: flex;
			align-items: center;
			gap: 5px;

			img {
				width: 15px;
				height: 15px;
				display: flex;
				object-fit: contain;
			}

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				color: $mainblack;
			}
		}

		// profile favourites page

		&-showfeed {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			padding-top: 25px;
			margin-top: 20px;
			border-top: 1px solid rgba(198, 198, 200, 0.3);

			&txt {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				color: $mainblack;
			}
		}

		&-status {
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #2cad7f;
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			background: rgba(44, 173, 127, 0.1);
			border-radius: 52px;
		}

		&-checkbox {
			label {
				width: 50px;
				height: 30px;
				cursor: pointer;
				display: flex;
				border-radius: 20px;
				background: $maingrey;
				transition: all 0.3s;

				span {
					width: 30px;
					height: 30px;
					border-radius: 100%;
					background: #ffffff;
					border: 3px solid;
					border-color: $maingrey;
					transition: all 0.3s;
					margin-left: 0;
				}
			}

			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}

			input[type="checkbox"]:checked + label {
				background: $mainblue;

				span {
					margin-left: 20px;
					border-color: $mainblue;
				}
			}
		}

		&:hover {
			box-shadow: 0px 2px 40px 15px rgba(0, 0, 0, 0.06);
		}

		// simple user type

		&-lawyer {
			display: flex;
			align-items: center;
			gap: 15px;
			width: 100%;
			padding-top: 20px;
			margin: 20px 0 0 0;
			border-top: 1px solid rgba(217, 217, 217, 0.5);

			&-img {
				width: 35px;
				height: 35px;
				display: flex;
				object-fit: contain;
			}

			&-name {
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 120%;
				color: #18181c;
			}

			&-status {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 130%;
				color: #2cad7f;
			}
		}

		&-favlawyer {
			display: flex;
			align-items: center;
			gap: 15px;
			width: 100%; 

			&-img {
				width: 50px;
				height: 50px;
				display: flex;
				object-fit: contain;
			}

			&-name {
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 120%;
				color: #18181c;
			}

			&-status {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 130%;
				color: #2cad7f;
			}
		}
	}

	&__sidebar {
		&-context {
			width: 280px;
			flex-shrink: 0;
			background: #ffffff;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
			border-radius: 8px;
			padding: 30px;
			margin-bottom: 100px;
		}

		&-title {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 120%;
			margin-bottom: 25px;
			color: #18181c;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&-item {
			width: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;

			input {
				width: 15px;
				height: 15px;
				display: flex;
				margin: 0 15px 0 0;
			}

			label {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 125%;
				color: #18181c;
				padding: 0;
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}

.caserequest {
	padding: 30px 0;

	&__body {
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		padding: 30px;
		border-radius: 8px;
		display: flex;
		flex-direction: column;

		&-person {
			display: flex;
			gap: 20px;
			margin-bottom: 25px;
		}

		&-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			img {
				width: 20px;
				height: 20px;
				object-fit: contain;
			}

			p {
				color: $mainblue;
			}
		}

		&-btnholder {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&-context {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: $maingrey;
			margin-bottom: 20px;
		}

		&-credentials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			margin-bottom: 20px;
		}

		&-credential {
			display: flex;
			align-items: center;
			gap: 5px;

			img {
				width: 15px;
				height: 15px;
				display: flex;
				object-fit: contain;
			}

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				color: $mainblack;
			}
		}

		&-title {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 130%;
			color: $mainblack;
		}

		&-images {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 10px;
			margin-bottom: 20px;
		}

		&-img {
			width: 150px;
			height: 150px;
			border: 1px solid rgba(133, 141, 163, 0.2);
			border-radius: 5px;
			object-fit: cover;
			display: flex;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				opacity: 0.7;
			}
		}

		&-btnholder {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}

	&__person {
		&-img {
			width: 40px;
			height: 40px;
			display: flex;
			object-fit: contain;
			margin: 0 15px 0 0;
			padding: 0;
			border-radius: 50%;
		}

		&-name {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			color: $mainblack;
		}

		&-contact {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			color: $maingrey;
		}
	}

	&__modal {
		&-inputbox {
			margin-bottom: 20px;
		}

		&-input {
			width: 100%;
			height: 50px;
			border: 1px solid rgba(133, 141, 163, 0.2);
			border-radius: 8px;

			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			color: $mainblack;
			padding: 15px;
		}

		&-title {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			margin-bottom: 10px;
			color: $mainblack;
			display: flex;
		}

		&-textarea {
			width: 100%;
			height: 180px;
			display: flex;
			resize: none;
			padding: 15px;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			color: $mainblack;
			border: 1px solid rgba(133, 141, 163, 0.2);
			border-radius: 8px;

			&.mb {
				margin-bottom: 15px;
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background: none;
			border: 0;
			outline: none;
			cursor: pointer;

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 160%;
				color: $mainblue;
			}

			img {
				width: 20px;
				height: 20px;
				object-fit: contain;
				display: flex;
				transform: rotate(180deg);
			}
		}
	}

	&__templates {
		&-cap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 10px;
		}
	}

	&__template {
		display: flex;
		border-bottom: 1px solid #eee;
		padding: 15px;
		width: 100%;
		height: 70px;
		transition: all 0.3s;

		p {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			color: $mainblack;
			@include limitLine(2);
		}

		&.current,
		&:hover {
			background: rgba(28, 79, 209, 0.1);
		}
	}

	&__modaltemplates {
		max-height: 280px;
		margin-bottom: auto;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			margin-bottom: 20px;
		}
	}
}

.templates {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__item {
		background: #ffffff;
		padding: 30px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		position: relative;

		&-text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			color: $mainblack;
			padding-right: 90px;
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3px;
			position: absolute;
			width: 15px;
			height: 15px;
			top: 15px;
			cursor: pointer;
			right: 30px;

			span {
				display: flex;
				width: 3px;
				height: 3px;
				border-radius: 100%;
				background: #858da3;
			}
		}
	}

	&__item-btn:hover & {
		&__action {
			opacity: 1;
			visibility: visible;
			z-index: 3;
		}
	}

	&__action {
		// background: lightblue;
		background: #ffffff;
		border-radius: 5px;
		display: flex;
		padding: 5px 0;
		flex-direction: column;
		box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.04);
		transition: all 0.3s;
		position: absolute;
		z-index: 1;
		top: 100%;
		right: 0;
		opacity: 0;
		visibility: hidden;

		&-item {
			padding: 0 20px;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: flex-start;
			width: 140px;
			cursor: pointer;
			height: 50px;
			transition: all 0.3s;

			p {
				font-size: 14px;
				font-weight: 700;
				color: $mainblue;
			}

			img {
				width: 20px;
				height: 20px;
				display: flex;
				object-fit: contain;
				flex-shrink: 0;
			}

			&.delete {
				p {
					color: $mainred;
				}
			}

			&:hover {
				background: #eeeeee;
			}
		}
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
	.services {
		padding: 20px 0;

		&__body {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.templates {
		gap: 10px;

		&__item {
			&-text {
				padding-right: 50px;
			}
		}
	}
}

@media (max-width: 768px) {
	.services {
		&__body {
			display: flex;
			flex-direction: column;
		}
	}

	.case {
		padding: 20px 0;

		&__body {
			flex-direction: column-reverse;
		}

		&__sidebar {
			width: 100%;

			&-context {
				width: 100%;
				padding: 25px;
				margin: 0;
			}

			.banner {
				display: none;
			}
		}
	}

	.caserequest {
		padding: 20px 0;
	}

	.templates {
		&__item {
			&-text {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 576px) {
	.services {
		padding: 0;

		&__body {
			gap: 10px;
		}

		&__card {
			min-height: unset;
			padding-right: 80px;

			&-title {
				font-size: 14px;

				span {
					font-size: 10px;
				}
			}

			&-desc {
				font-size: 12px;
			}

			&-btn {
				right: 20px;
			}
		}

		&__btn {
			height: 40px;
			padding: 5px 15px;
			font-size: 14px;
			min-width: 130px;
		}

		&__titling {
			margin-bottom: 15px;

			&-title {
				font-size: 18px;
			}
		}

		&__categories {
			&-context {
				width: 320px;
				padding: 25px;
			}

			&-item {
				height: 50px;
			}

			&-title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			&-label {
				&txt {
					font-size: 14px;
				}

				&check {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	.case {
		&__sidebar {
			&-context {
				padding: 20px;
			}

			&-title {
				font-size: 16px;
				margin-bottom: 10px;
			}

			&-list {
				gap: 10px;
			}

			&-item {
				input {
					width: 10px;
					height: 10px;
					margin: 0 10px 0 0;
				}

				label {
					font-size: 12px;
				}
			}
		}

		&__card {
			padding: 20px;
			min-height: unset;
			margin-bottom: 10px;

			&-cap {
				margin-bottom: 10px;
			}

			&-title,
			&-lawyer-name {
				font-size: 16px;
			}

			&-body {
				margin-bottom: 15px;

				p {
					font-size: 12px;
				}
			}

			&-credential {
				p {
					font-size: 12px;
				}
			}

			&-showfeed {
				padding-top: 15px;
				margin-top: 10px;

				&txt {
					font-size: 12px;
				}
			}

			&-checkbox {
				label {
					width: 40px;
					height: 25px;

					span {
						width: 25px;
						height: 25px;
					}
				}

				input[type="checkbox"]:checked + label {
					span {
						margin-left: 15px;
					}
				}
			}
		}
	}

	.caserequest {
		padding: 0 0 20px 0;

		&__body {
			background: none;
			padding: 0;
			box-shadow: none;

			&-person {
				margin-bottom: 10px;
			}

			&-context {
				font-size: 14px;
				line-height: 140%;
				margin-bottom: 10px;
			}

			&-credential {
				p {
					font-size: 12px;
				}
			}

			&-images {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}

			&-img {
				width: 100%;
			}
		}

		&__person {
			&-name {
				font-size: 14px;
			}

			&-contact {
				font-size: 12px;
			}
		}

		&__modal {
			&-inputbox {
				margin-bottom: 10px;
			}

			&-input {
				height: 30px;
				font-size: 12px;
			}

			&-title {
				font-size: 14px;
			}

			&-textarea {
				height: 100px;
				font-size: 12px;
			}

			&-btn {
				p {
					font-size: 10px;
				}

				img {
					width: 15px;
					height: 15px;
				}
			}
		}

		&__template {
			p {
				font-size: 12px;
			}
		}
	}

	.templates {
		padding: 0 0 20px 0;

		&__item {
			padding: 40px 15px 15px 15px;

			&-text {
				font-size: 12px;
				padding-right: 0;
			}
		}

		&__action {
			&-item {
				height: 40px;
				width: 120px;
				padding: 0 15px;

				img {
					width: 15px;
					height: 15px;
				}

				p {
					font-size: 12px;
				}
			}
		}
	}
}
