.requests {
	padding: 30px 0;
	overflow: visible;

	&__card {
		margin-bottom: 20px;
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		min-height: 200px;
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		transition: all 0.3s;
		cursor: pointer;
		position: relative;

		&-cap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 30px;
		}

		&-title {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 120%;
			margin-right: auto;
			color: $mainblack;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 105%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				width: 15px;
				height: 15px;
				display: flex;
				object-fit: contain;
				border-radius: 100%;
				background: $mainblue;
				font-size: 12px;
				line-height: 1;
				color: $mainwhite;
			}
		}

		&-action {
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.3s;
			position: relative;

			&:hover {
				opacity: 0.5;
			}

			&.several {
				&:hover {
					opacity: 1;
				}
			}

			img {
				width: 100%;
				height: 100%;
				display: flex;
				object-fit: contain;
			}

			&-btn {
				width: 30px;
				height: 30px;
				flex-shrink: 0;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;
				cursor: pointer;

				& > span {
					display: flex;
					width: 4px;
					height: 4px;
					border-radius: 100%;
					background: #858da3;
				}

				&:hover {
					.requests__card-actionlist {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&list {
				background: #ffffff;
				border-radius: 5px;
				display: flex;
				padding: 5px 0;
				flex-direction: column;
				box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.04);
				transition: all 0.3s;
				position: absolute;
				z-index: 1;
				top: 100%;
				right: 0;
				opacity: 0;
				visibility: hidden;
			}

			&-item {
				padding: 0 20px;
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: flex-start;
				min-width: 170px;
				cursor: pointer;
				height: 50px;
				transition: all 0.3s;

				p {
					font-size: 14px;
					font-weight: 700;
					color: $mainblue;
				}

				img {
					width: 20px;
					height: 20px;
					display: flex;
					object-fit: contain;
					flex-shrink: 0;
				}

				&.delete {
					p {
						color: $mainred;
					}
				}

				&:hover {
					background: #eeeeee;
				}
			}
		}

		&-body {
			margin-bottom: 20px;
			width: 100%;

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: $maingrey;

				@include limitLine(6);
			}
		}

		&-credentials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			width: 100%;
			position: relative;
		}

		&-credentials & {
			&-status {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}

		&-credential {
			display: flex;
			align-items: center;
			gap: 5px;

			img {
				width: 15px;
				height: 15px;
				display: flex;
				object-fit: contain;
			}

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				color: $mainblack;
			}
		}

		&-status {
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			min-width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			border-radius: 52px;
			padding: 0 15px;

			&.yellow {
				color: #ad7a2c;
				background: rgba(173, 122, 44, 0.1);
			}
			&.red {
				color: #ad2c2c;
				background: rgba(173, 44, 44, 0.1);
			}
			&.green {
				color: #2cad7f;
				background: rgba(44, 173, 127, 0.1);
			}
		}

		&-footer {
			padding: 25px 0 0 0;
			margin: 25px 0 0 0;
			border-top: 1px solid rgba(217, 217, 217, 0.5);

			&txt {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				color: #858da3;
				margin-bottom: 20px;
			}

			&-action {
				display: flex;
				gap: 15px;
			}
		}

		&:hover {
			box-shadow: 0px 2px 40px 15px rgba(0, 0, 0, 0.06);
		}
	}
}

.request {
	padding: 30px 0;

	&__context {
		width: 100%;
	}

	&__lawyers {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		padding: 10px 0;
		width: 100%;
	}

	&__lawyer {
		padding: 20px 30px;
		display: flex;
		flex-direction: column;
		width: 100%;
		transition: all 0.3s;
		cursor: pointer;
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 30px;
			right: 30px;
			height: 1px;
			content: "";
			background: rgba(217, 217, 217, 0.5);
		}

		&:hover {
			background: #f6f6f6;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		&-cap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		&-person {
			display: flex;
			align-items: center;
			gap: 15px;
			width: 100%;

			&-img {
				width: 50px;
				height: 50px;
				display: flex;
				object-fit: contain;
			}

			&-name {
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 120%;
				color: $mainblack;
			}

			&-status {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 130%;
				color: #2cad7f;
			}
		}

		&-status {
			white-space: nowrap;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			color: #1c4fd1;
			padding: 8px 15px;
			background: rgba(28, 79, 209, 0.1);
			border-radius: 52px;
		}

		&-credentials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			position: relative;
			flex-wrap: wrap;
		}

		&-credential {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			color: #858da3;

			&.price {
				position: absolute;
				top: 0;
				right: 0;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 140%;
				color: $mainblack;
			}
		}
	}
}

.lawyer {
	padding: 50px 0;

	&__card {
		display: flex;
		flex-direction: column;
		gap: 15px;
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		padding: 30px;

		&-cap {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		&-person {
			display: flex;
			align-items: center;
			gap: 15px;
			width: 100%;

			&-img {
				width: 50px;
				height: 50px;
				display: flex;
				object-fit: contain;
			}

			&-name {
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 120%;
				color: $mainblack;
			}

			&-status {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 130%;
				color: #2cad7f;
			}
		}

		&-contacts {
			display: flex;
			gap: 40px;
		}

		&-contact {
			gap: 10px;
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 110%;
			color: $maingrey;
			transition: all 0.3s;

			&:hover {
				opacity: 0.7;
			}

			img {
				width: 15px;
				height: 15px;
				display: flex;
				object-fit: contain;
			}
		}

		&-credentials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			position: relative;
			flex-wrap: wrap;
		}

		&-credential {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			color: #858da3;

			&.price {
				position: absolute;
				top: 0;
				right: 0;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 140%;
				color: $mainblack;
			}
		}

		&-pricing {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			padding-bottom: 15px;
			border-bottom: 1px solid rgba(217, 217, 217, 0.5);
			width: 100%;
		}

		&-price {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			color: $mainblack;
		}

		&-status {
			white-space: nowrap;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			color: #1c4fd1;
			padding: 8px 15px;
			background: rgba(28, 79, 209, 0.1);
			border-radius: 52px;
		}

		&-action {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;

			.lawyer__card-btnsquare {
				width: 50px;
				min-width: unset;
				padding: 0;
			}
		}

		&-desc {
			&-title {
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 150%;
				color: $mainblack;
			}

			&-txt {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 140%;
				color: $mainblack;
			}
		}
	}

	&__feedbacks{
		padding: 20px 0;
	}
}

@media (max-width: 1250px) {
	.request {
		&__lawyer {
			&-credentials {
				padding-top: 40px;
			}
		}
	}
}

@media (max-width: 992px) {
	.lawyer {
		padding: 30px 0;

		&__card {
			position: relative;
			padding: 20px 20px 50px 20px;

			&-person {
				&-img {
					width: 40px;
					height: 40px;
				}

				&-name {
					font-size: 16px;
				}
			}

			&-contacts {
				gap: 20px;
			}

			&-credentials {
				gap: 5px;
				flex-direction: column;
				align-items: flex-start;
			}

			&-credential {
				font-size: 12px;
				margin: 0;
				padding: 0;

				&.price {
					font-size: 14px;
				}
			}

			&-status {
				position: absolute;
				bottom: 15px;
				right: 15px;
			}

			&-desc {
				&-title {
					font-size: 14px;
				}

				&-txt {
					font-size: 12px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.requests {
		&__body {
			display: flex;
			flex-direction: column;
		}
	}

	.lawyer {
		&__body {
			flex-direction: column;
			
			.banner{
				margin: 0 auto;
			}
		}

		&__card-price{
			font-size: 14px;
		}
	}
}

@media (max-width: 576px) {
	.requests {
		padding: 0 0 20px 0;

		&__card {
			padding: 20px;
			min-height: unset;
			margin-bottom: 10px;

			&-cap {
				margin-bottom: 10px;
			}

			&-title {
				font-size: 16px;
			}

			&-body {
				margin-bottom: 15px;

				p {
					font-size: 12px;
				}
			}

			&-credential {
				p {
					font-size: 12px;
				}
			}

			&-footer {
				padding: 15px 0 0 0;
				margin: 15px 0 0 0;

				&-action {
					flex-wrap: wrap;
					gap: 5px;
				}

				&txt {
					font-size: 12px;
					margin-bottom: 15px;
				}
			}
		}
	}

	.request {
		&__lawyer {
			&-credentials {
				padding: 0;
				gap: 0;
			}

			&-credential {
				order: 2;
				font-size: 14px;
				margin-right: 20px;

				&.price {
					order: 1;
					position: unset;
					width: 100%;
					font-size: 14px;
					margin: 0 0 10px 0;
					padding: 0;
				}
			}
		}
	}
}
